Debug
/bin/decode_x264.exe
/bin/decode_x264.ilk
/bin/decode_x264.pdb
/bin/ds.h264
/bin/encode_x264.exe
/bin/encode_x264.ilk
/bin/encode_x264.pdb
/bin/list_devices.exe
/bin/list_devices.ilk
/bin/list_devices.pdb
.vs
/fftest.sdf
/decode_aac/WavinFlag.pcm
/bin/decode_aac.exe
/bin/decode_aac.ilk
/bin/decode_aac.pdb
/decode_x264/bigbuckbunny_480x272.yuv
/fftest.opensdf
/fftest/bigbuckbunny.mp4
/fftest/bigbuckbunny.ts
/bin/fftest.exe
/bin/fftest.ilk
/bin/fftest.pdb
/fftest/cuc_ieschool.aac
/fftest/cuc_ieschool.h264
/x64
